<div class='row'>
    <div class="col-md-6 col-md-offset-3">
        <h2 style="text-align: center;margin-bottom: 2em;">
            Reset your password
        </h2>
    </div>
    <br>
    <div class='form-group col-md-6 col-md-offset-3'>
        {{#form '/api/reset-password' class='form'}}
            {{label 'currentPassword' 'Current Password' class='form-label'}}
            {{label 'currentPassword' '' class='error pull-right' generated='true'}}
            {{password 'currentPassword' user.password class='form-control input-sm'}}
            <br>
            {{label 'newPassword' 'New Password'}}
            {{label 'newPassword' '' class='error pull-right' generated='true'}}
            {{password 'newPassword' user.password class='form-control input-sm'}}
            <br>
            {{label 'confirmPassword' 'Confirm New Password'}}
            {{label 'confirmPassword' '' class='error pull-right' generated='true'}}
            {{password 'confirmPassword' user.password class='form-control input-sm'}}
            <br>
            {{hidden 'token' token}}
            {{submit 'submit' 'Reset Password' class='btn btn-primary'}}
            {{label 'result' '' id='result'}}
        {{/form}}
    </div>
</div>
{{#section 'scripts'}}
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/js/reset-password.js"></script>
{{/section}}
